<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Recipes</title>
</head>
<body>
  <h1>All Recipes</h1>
  <ul>
    <% recipes.forEach(recipe => { %>
      <li><%= recipe.name %> - <%= recipe.difficulty %></li>
    <% }); %>
  </ul>
  <a href="/recipes/new">Add New Recipe</a>
</body>
</html>
