<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>My Recipes</h1>
    <ul>
      <% recipes.forEach(recipe => { %>
        <li><%= recipe.name %> – Difficulty: <%= recipe.difficulty %></li>
      <% }) %>
    </ul>
  </body>
</html>
